@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('./assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(174, 220, 221);
  height: 100vh;
}

#UtentiOnline .contactLink {
  padding: 10px;
}

#UtentiOnline .contactLink:hover {
  cursor: pointer;
  background-color: #043D5D;
}

#UtentiOnline .contactActive {
  color: white;
  background-color: #043D5D;
}

.bgred {
  background-color: rgb(255, 213, 213);
}

.bgblue {
  background-color: rgb(184, 211, 216);
}

.bggreen {
  background-color: rgb(209, 221, 180);
}

.small-text {
  color: darkgrey !important;
  font-size: 14px;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  word-wrap: break-word;
  width: fit-content;
}

.yours {
  align-items: flex-start;
  margin-right: 25%;
  margin-left: 5px;
  color: white;
  background: linear-gradient(to bottom, #06466b 0%, #043D5D 100%);
  position: relative;
  word-wrap: break-word;
  box-shadow: 2px 2px 3px 1px #6b6b6b31;
  padding-left: 15px;
  padding-right: 15px;
}

.yours:hover {
  box-shadow: 2px 2px 3px 2.5px #6b6b6b31;
}

.mine {
  margin-right: 5px;
  align-items: flex-end;
  background-color: #eeeeee;
  color: black;
  margin-left: 25%;
  background-attachment: fixed;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 2px 2px 3px 1px #6b6b6b31;
}

.mine:hover {
  box-shadow: 2px 2px 3px 2.5px #6b6b6b31;
}

.alertPopup {
  position: absolute;
  z-index: 100;
  top: 15px;
  right: 15px;
  padding: 20px;
  background-color: #23B684;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 4px 2px #42424293;
}

.alertPopup:hover {
  cursor: pointer;
  box-shadow: 2px 2px 3px 1px #42424293;
}

.inputMessage {
  border: 0;
}

.inputMessage:focus {
  outline: none;
  background-color: rgb(231, 231, 231);
}

.Messaggi .btn-primary {
  border: 0;
  color: white;
  background-color: #23B684
}

.Messaggi .btn-primary:hover {
  background-color: #14805c !important;
}

.buttonMessage:active {
  outline: none;
}

.searchUserOnline {
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  border: 1px #000 solid;
  z-index: 5;
  background-color: white;
  display: flex;
  box-shadow: 0px 2px 3px 1px #0000005b;
}

.searchUserOnline .searchBar {
  border: 0;
  outline: none;
  width: 100%;
}

.searchUserOnline .searchButtonIcon {
  flex-grow: 0;
  z-index: 10;
  margin-right: 10px;
  border: none;
  outline: none;
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: black;
}

.buttonLogout {
  color: rgb(153, 153, 153)
}

.buttonLogout:hover {
  cursor: pointer;
}

.checkReadIcon {
  color: #23B684;
}


.Messaggi {
  background-color: #c7e0d8;
}

.contactHeader {
  position:relative;
  background-color: #043D5D;
  color: white;
  box-shadow: 0px 2px 3px 1px #0000005b;
  z-index: 50;
  transition: opacity 0.5s ease-in-out, width 3s ease-in-out;
}
.contactHeader:hover {
  opacity: 1 !important;
}

.canvasAvatarUsername {
  background-color: #aeb6bd56;
  border: 3px solid #23B684;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 1px #0000005b;
}

.canvasAvatarUsers {
  background-color: #aeb6bd3b;
  border-radius: 8px;
}

.textShadow {
  font-size: 8vw;
  font-weight: bold;
  letter-spacing: 8px;
  text-shadow: 6px 6px 2px #f3705a, 10px 10px 4px #ffd15c, 14px 14px 8px #66c6b9
}

.wrapWord {
  word-wrap: break-word;
  min-width: 0;
}

.wrapDots {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapDotsPar {
  width: 100%;
}
.minWidthZero {
  min-width: 0;
}


.HomePage {
  color: white;
}

.homeIcon {
  width: 40vw;
  transform: scale(2);
  animation: pulse 2s infinite;
}

.spinnerLoadMsgs{
  position:relative
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}



#panelLeft {
  display:flex;
  background-color: #032E46;
  color: white;
}

#panelRight{
  display:flex
}

@media screen and (max-width: 576px) {
  #panelLeft{
    display:block

  }
}