* {
  margin: 0;
  padding: 0;
}

html {
  background-color: darkkhaki;
}

#UtentiOnline .contactLink{
  padding:10px;
  }
#UtentiOnline .contactLink:hover{
cursor: pointer;
background-color: #80a8ff;
}
#UtentiOnline .contactActive{
  color:white;
  background-color: #a6c2ff;
  }
  




  .bgred{
    background-color: rgb(255, 213, 213);
  }

  .bgblue{
    background-color: rgb(184, 211, 216);
  }
  .bggreen{
    background-color: rgb(209, 221, 180);
  }
.small-text{
  color:darkgrey;
  font-size: 14px;
}



.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.yours {
  align-items: flex-start;
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.mine  {
  align-items: flex-end;
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}
